---
vboxes:
  cc-ruby:
    vm:
      box: 'ubuntu/trusty32'
      hostmanager: true
      hostname: cc-ruby.dev
      synced_folders:
        -
          host: /home/josemrb/Projects/
          guest: /home/vagrant/projects/
      forwarded_ports: []
      networks:
        private:
        - ip: 192.168.100.10
    virtualbox:
      cpus: 1
      memory: 2048
    ansible:
      playbook: default.yml
      extra_vars:
        vars:
          timezone_zone: America/La_Paz
          redis_version: 2.8.20
          mysql_root_password:
          mysql_users:
            - name: developer
              pass:
              priv: "*.*:ALL"
              host: "%"
          ruby_version: 2.2.2
          ruby_gems_default:
            - gem-ripper-tags
            - bundler
        roles:
          - nodejs
          - mysql
          - redis
          - rbenv
